/* https://themewagon.github.io/hola/ */
/* https://medium.com/@caden0002/fixing-scroll-position-issues-in-react-router-scroll-to-top-on-navigation-86bcfbdfc9db */
html {
  scroll-behavior: smooth;
}

h3 {
  display: inline-block;
}

/* .o{
  pointer-events: none;
} */
/* html{
  overflow-x: hidden;
} */
body {
  color: var(--default-color);
  box-sizing: content-box;
  background-color: #fff;
  overflow-x: hidden;
  position: relative;
  clip-path: inset(0);
}

.main {
  overflow: hidden;
}

.over {
  overflow: hidden;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  padding: 20px 0px;
  transition: all 0.5s;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 0px;
  width: 100%;
  /* position: relative; */
}

/* 
img {
  width: 100%;
} */

textarea {
  height: 100px;
}

.animateIn {
  animation: fadeInDown
}

/*ColorCombo*/
.dark-blue-backgroundColor {
  --background-color: #08005e;
  --timeline-wrap: #00b4d8;
  --icons-bgcolor: #023e8a;
  --hero-h1: color-mix(in srgb, #fff, transparent 30%);
  --owl: #fff;
  --icons-color: #fff;
  --scrolled-bg: #10058c;
  --skill-title: #10058c;
  --accent-color: #1acc8d;
  --default-color: #ffffff;
  /* --heading-color: #ffffff; */
  --surface-color: #0c0091;
  --constrast-color: #ffffff;
  --section-c1: #0081ff;
  --section-c2: #273f5b;
  --button-textColor: #fff;
  --checkicons-span: #444444;
  --timeline-contentP: #444444;
  --navbar-textColor: #fff;
  --project-title: #07294d;
  --project-bgColor: rgba(7, 41, 77, 0.15);
  --heading-color: #040677;
  --last-section: #444444;
}

.dark-backgroundColor {
  --background-color: #000;
  --timeline-wrap: #151515;
  --timeline-contentP: #6e6e6e;
  --icons-bgcolor: #FF004F;
  --owl: #fff;
  --hero-h1: color-mix(in srgb, #fff, transparent 30%);
  --icons-color: #fff;
  --scrolled-bg: #495057;
  --skill-title: #000;
  --accent-color: #FF004F;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #0c0091;
  --constrast-color: #ffffff;
  --section-c1: #FF004F;
  --section-c2: #000;
  --button-textColor: #fff;
  --checkicons-span: #444444;
  --navbar-textColor: #fff;
  --project-title: #343a40;
  --project-bgColor: rgba(7, 41, 77, 0.15);
  --heading-color: #000;
  --last-section: #444444;
}

.dark-green-backgroundColor {
  --background-color: #006d77;
  --timeline-wrap: #151515;
  --timeline-contentP: #6e6e6e;
  --icons-bgcolor: #16A058;
  --owl: #fff;
  --hero-h1: color-mix(in srgb, #fff, transparent 30%);
  --icons-color: #fff;
  --scrolled-bg: #00a896;
  /* --scrolled-bg: #16A058; */
  --skill-title: #006d77;
  --accent-color: #E1AD01;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #0c0091;
  --constrast-color: #ffffff;
  --section-c1: #1dd3b0;
  --section-c2: #000;
  --button-textColor: #fff;
  --checkicons-span: #444444;
  --navbar-textColor: #fff;
  --project-title: #343a40;
  --project-bgColor: rgba(7, 41, 77, 0.15);
  /* --bs-heading-color: #006d778c; */
  --heading-color: #006d77;
  --last-section: #444444;
}

.violet-backgroundColor {
  --background-color: #3c096c;
  --timeline-wrap: #151515;
  --timeline-contentP: #6e6e6e;
  --icons-bgcolor: #c86bfa;
  --owl: #fff;
  --hero-h1: color-mix(in srgb, #fff, transparent 30%);
  --icons-color: #fff;
  --scrolled-bg: #9d4edd;
  /* --scrolled-bg: #16A058; */
  --skill-title: #5a108f;
  --accent-color: #E1AD01;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #0c0091;
  --constrast-color: #ffffff;
  --section-c1: #c86bfa;
  --section-c2: #000;
  --button-textColor: #fff;
  --checkicons-span: #444444;
  --navbar-textColor: #fff;
  --project-title: #343a40;
  --project-bgColor: rgba(7, 41, 77, 0.15);
  /* --bs-heading-color: #2f184b; */
  --heading-color: #310055;
  --last-section: #444444;
}

.dark-red-backgroundColor {
  --background-color: #ff4d6d;
  --timeline-wrap: #151515;
  --timeline-contentP: #6e6e6e;
  --icons-bgcolor: #ff477e;
  --owl: #fff;
  --hero-h1: color-mix(in srgb, #fff, transparent 30%);
  --icons-color: #fff;
  --scrolled-bg: #ff477e;
  /* --scrolled-bg: #16A058; */
  --skill-title: #800f2f;
  --accent-color: #ccff33;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #0c0091;
  --constrast-color: #ffffff;
  --section-c1: #ff477e;
  --section-c2: #000;
  --button-textColor: #fff;
  --checkicons-span: #444444;
  --navbar-textColor: #fff;
  --project-title: #343a40;
  --project-bgColor: rgba(7, 41, 77, 0.15);
  --bs-heading-color: #ff0a54;
  --heading-color: #590d22;
  --last-section: #444444;
}

.dark-orange-backgroundColor {
  --background-color: #FC2E20;
  --timeline-wrap: #151515;
  --timeline-contentP: #6e6e6e;
  --icons-bgcolor: #FD7F20;
  --owl: #fff;
  --hero-h1: color-mix(in srgb, #fff, transparent 30%);
  --icons-color: #fff;
  --scrolled-bg: #FD7F20;
  /* --scrolled-bg: #16A058; */
  --skill-title: #e85d04;
  --accent-color: #FDB720;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #0c0091;
  --constrast-color: #ffffff;
  --section-c1: #FD7F20;
  --section-c2: #000;
  --button-textColor: #fff;
  --checkicons-span: #444444;
  --navbar-textColor: #fff;
  --project-title: #343a40;
  --project-bgColor: rgba(7, 41, 77, 0.15);
  /* --bs-heading-color: #ff7b00; */
  --heading-color: #e85d04;
  --last-section: #444444;
}

/*ColorCombo*/

.bold {
  font-weight: 500;
}

.main {
  position: relative;
  width: 100%;
}


@media(min-width:1200px) {
  .titleSwiper {
    height: 55px;
    margin-top: 8px;
  }
}
@media(max-width: 1199px) {
  .titleSwiper {
    height: 50px;
    margin-top: 11px;
  }
}

@media(max-width: 992px) {
  .titleSwiper {
    height: 50px;
    margin-top: 15px;
  }
}

@media(max-width: 461px) {
  .titleSwiper {
    height: 33px;
    margin-top: 15px;
  }
}

@media(max-width: 376px) {
  .titleSwiper {
    height: 27px;
    margin-top: 18px;
  }
}

.owl-item div {
  width: 500px;
  /* display: inline-block;  */
  cursor: pointer;
}

@media(max-width: 991px) {
  .owl-item div {
    width: 500px;
  }
}

/*animations keyframes*/

.animateRightLate {
  animation: fadeInRight 0.8s linear 2s both;
}

.intialdown {
  animation: fadeInDown 0.8s linear 2s both;
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  will-change: opacity, transform;
}

.fade-in-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-right {
  opacity: 0;
  transform: translateX(30px);
  /* Move from right */
  transition: opacity 0.6s ease, transform 0.6s ease;
  will-change: opacity, transform;
}

.fade-in-right.visible {
  opacity: 1;
  transform: translateX(0);
  /* Move to position */
}

.fade-in-up {
  opacity: 0;
  transform: translateY(30px);
  /* Start lower */
  transition: opacity 0.6s ease, transform 0.6s ease;
  will-change: opacity, transform;
}

.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0);
  /* Move to normal position */
}

.intialUp {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.7s ease-out;
  transition-delay: 0.4s;
}

.animateUp {
  opacity: 1;
  transform: translateY(0);
}
.intialRightLi {
  opacity: 0;
  transform: translateX(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  /* will-change: opacity, transform; */
  filter: blur(5px);

}
.intialRightLi.visible{
  opacity: 1;
  transform: translateX(0px);
  filter: blur(0px);
}
/* @keyframes list {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(40%, 0, 0);
    transform: translate3d(40%, 0, 0);
    filter: blur(5px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    filter: blur(0px);
  }
} */

/*animations keyframes*/
/*scroll*/

.scroll-watcher {
  height: 10px;
  position: fixed;
  top: 0px;
  z-index: 10;
  background-color: lime;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

/* .wow {
  animation-timeline: view(100px 0px);
  animation-range: contain;
  /* animation: fading linear; */
/* }
@keyframes fading {
  from {scale: 0.8;opacity: 0;}
  to { scale: 1;opacity: 1;}
} */
/*scroll*/
/*preloader*/
.preloader {
  position: fixed;
  animation: preloading 3s linear both;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  text-align: center;
}

@keyframes preloading {
  0% {
    opacity: 1;
    overflow: hidden;
  }

  100% {
    opacity: 0;
    overflow: auto;
    display: none;
  }
}

.loader_width {
  display: flex;
  left: 50%;
  position: absolute;
  top: 50%;
  margin-left: -85px;
}

.dash {
  margin: 0px 11px;
  width: 25px;
  height: 10px;
  background-color: var(--accent-color);
}

.uno {
  margin-right: -13px;
  transform-origin: center left;
  animation: spin 3s linear infinite;
}

.dos {
  transform-origin: center right;
  animation: spin2 3s linear infinite;
  animation-delay: 0.2s;
}

.tres {
  transform-origin: center right;
  animation: spin3 3s linear infinite;
  animation-delay: 0.3s;
}

.cuatro {
  transform-origin: center right;
  animation: spin4 3s linear infinite;
  animation-delay: 0.4s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(360deg);
  }

  30% {
    transform: rotate(370deg);
  }

  35% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(-180deg);
  }

  35% {
    transform: rotate(-190deg);
  }

  40% {
    transform: rotate(-180deg);
  }

  78% {
    transform: rotate(-180deg);
  }

  95% {
    transform: rotate(-360deg);
  }

  98% {
    transform: rotate(-370deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}


@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }

  27% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(180deg);
  }

  45% {
    transform: rotate(190deg);
  }

  50% {
    transform: rotate(180deg);
  }

  62% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  80% {
    transform: rotate(370deg);
  }

  85% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(0deg);
  }

  38% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(-360deg);
  }

  65% {
    transform: rotate(-370deg);
  }

  75% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

/*preloader*/
/*navbar*/

.fixeds {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
}

.scrolled {
  background-color: var(--scrolled-bg);
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
}

.sitename {
  /* font-family: "Raleway",sans-serif; */
  font-family: var(--heading-fonts);
  color: var(--navbar-textColor);
  white-space: nowrap;
  margin: 0px;
  font-weight: 700;
  font-size: 30px;
  padding-top: 6px;
}

.sub {
  width: 100%;
  text-align: left;
}

@media (min-width:992px) {
  .navmenu ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media (max-width:991px) {
  .navmenu ul {
    display: block;
    /* flex-direction: column;
    display: flex; */
    position: absolute;
    background-color: #fff;
    border-radius: 6px;
    inset: 80px 20px 20px 20px;
    padding: 10px;
    /* height: fit-content; */
    overflow-y: auto;
    /* transition: 0.3s; */
    border: 1px solid color-mix(in srgb, #fff, transparent 90%);
    box-shadow: none;
  }

  .start {
    color: #000;
  }

  .nav-item {
    /* position: relative; */
  }

  /* .nav-link.active{
    color: var(--bs-navbar-active-color);
  } */

  .mains-nav-item:hover>span,
  .navmenu .active .start,
  .navmenu .active:focus .start {
    color: var(--bs-navbar-active-color);
  }

  .navmenu {
    position: fixed;
    overflow: hidden;
    height: 100vh;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
  }
}

.mains-nav-item {
  white-space: nowrap;
  padding: 15px 17px;
  /* display: inline; */
}

.navigator:last-child li {
  padding-right: 0px;
}


@media(min-width: 991px) {
  .start {
    text-decoration: none;
    /* color: #fff; */
    color: color-mix(in srgb, var(--navbars-color), transparent 20%);
  }
}

/* @media(max-width:991px){
  li:hover .start {
    color: var(--bs-navbar-active-color);
  }
} */

.start {
  font-size: 15px;
  padding: 0px 2px;
  font-family: var(--nav-fonts);
  /* transition: all 0.3s; */
  position: relative;
}

@media(min-width: 991px) {

  .start:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -8px;
    left: 0px;
    width: 0px;
    background-color: var(--accent-color);
    /* visibility: visible;
      width: 30px; */
    transition: all 0.3s ease-in-out 0s;
  }

  .start:hover:before,
  .active span:before {
    visibility: visible;
    width: 25px;
  }

  .mains-nav-item:hover>span:before {
    visibility: visible;
    width: 25px;
  }

  .mains-nav-item:hover>.start,
  .active span,
  .navmenu .active:focus {
    color: var(--navbars-color);
  }
}

/*hamburger menu*/
.dow {
  position: relative;
  /* height: 0px; */
  /* top: 14px; */
}

:root {
  --bars-width: 25px;
  --bars-height: 3px;
  --hamburger-gaps: 5px;
  --foregroundd: #fff;
  /* --background: white; */
  /* --hamburger-margin: 8px; */
  --animation-timings: 0.4s ease-in-out;
  --hamburger-heights: calc(var(--bars-height) * 3 + var(--hamburger-gaps) * 2);
}

#whole {
  --x-width: calc(var(--hamburger-heights) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gaps);
  width: max-content;
  position: relative;
  top: 0px;
  left: 0px;
  /* top: var(--hamburger-margin);
  left: var(--hamburger-margin); */
  z-index: 2;
  cursor: pointer;
}

#whole::before,
#whole::after {
  content: "";
  width: var(--bars-width);
  height: var(--bars-height);
  background-color: var(--foregroundd);
  /* border-radius: 9999px; */
  /* transform-origin: left center; */
  transition: opacity var(--animation-timings), width var(--animation-timings), rotate var(--animation-timings), translate var(--animation-timings);
}

#whole input {
  content: "";
  width: var(--bars-width);
  height: var(--bars-height);
  background-color: var(--foregroundd);
  /* border-radius: 9999px; */
  /* transform-origin: left center; */
  transition: 0.1s ease-in-out;
}

#whole input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

#whole:has(input:checked)::before {
  rotate: 135deg;
  width: var(--x-width);
  translate: 0 calc(var(--bars-height)/ -2);
  position: relative;
  top: 11px;
  /* left: 25px; */
}

#whole:has(input:checked)::after {
  rotate: 225deg;
  width: var(--x-width);
  translate: 0 calc(var(--bars-height) / 2);
  position: relative;
  bottom: 8px;
  /* left: 24px; */
}

#whole input:checked {
  opacity: 0;
  /* width: 0; */
}

/*hamburger menu*/
/*navbar*/
/*variables*/
:root {
  --heading-fonts: "Raleway", sans-serif;
  --nav-fonts: "Poppins", sans-serif;
  /* --bs-navbar-active-color: #fff; */
}

@media(min-width:992px) {
  .dark-blue-backgroundColor {
    --bs-navbar-active-color: #fff;
  }

  .dark-backgroundColor {
    --bs-navbar-active-color: #fff;
  }

  .dark-green-backgroundColor {
    --bs-navbar-active-color: #fff;
  }

  .violet-backgroundColor {
    --bs-navbar-active-color: #fff;
  }

  .dark-red-backgroundColor {
    --bs-navbar-active-color: #fff;
  }

  .dark-orange-backgroundColor {
    --bs-navbar-active-color: #fff;
  }
}

@media(max-width:991px) {
  .dark-blue-backgroundColor {
    --bs-navbar-active-color: #1acc8d;
  }

  .dark-backgroundColor {
    --bs-navbar-active-color: #FF004F;
  }

  .dark-green-backgroundColor {
    --bs-navbar-active-color: #E1AD01;
  }

  .violet-backgroundColor {
    --bs-navbar-active-color: #E1AD01;
  }

  .dark-red-backgroundColor {
    --bs-navbar-active-color: #ff0a54;
  }

  .dark-orange-backgroundColor {
    --bs-navbar-active-color: #FDB720;
  }
}

@media(min-width:1199px) {
  :root {
    --beforeSfont: 200px;
  }
}

@media(max-width:1199px) {
  :root {
    --beforeSfont: 150px;
  }
}

@media(max-width:840px) {
  :root {
    --beforeSfont: 140px;
  }
}

@media(max-width:740px) {
  :root {
    --beforeSfont: 0px;
  }
}

:root {
  --navbars-color: #ffffff;
}

/* 
:root {
  --surface-color: #ffffff;
  --contrast-color: #ffffff;
} */


/*Hero section*/
.hero {
  position: relative;
  padding: 120px 0px;

}

.heroflex {
  width: 100%;
}

.hero_section_title {
  margin-bottom: 20px;
  /* animation: fadeInUp 1s linear both; */
}

.container {
  position: relative;
  z-index: 3;
}

.hero:before {
  content: "";
  position: absolute;
  background: color-mix(in srgb, var(--background-color), transparent 10%);
  z-index: 2;
  height: 100%;
  width: 100%;
  inset: 0;
}


.hero-bg {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero h1 {
  /* width: 300px;
  text-align: left; */
  margin: 0px 0px 20px 0px;
  font-weight: 700;
  line-height: 56px;
  position: relative;
  color: var(--hero-h1);
}

@media(min-width:1200px) {
  .hero h1 {
    font-size: 40px;
  }
}

@media(max-width:1199px) {
  .hero h1 {
    font-size: 36px;
    /* margin: auto; */
  }
}
@media(max-width:992px) {
  .hero h1 {
    font-size: 26px;
    /* margin: auto; */
  }
}
@media(max-width:767px) {
  .hero h1 {
    font-size: 26px;
    /* text-align: center; */
    margin: auto;
  }
}
@media(max-width:460px) {
  .hero h1 {
    font-size: 26px;
  }
}

@media(max-width:375px) {
  .hero h1 {
    font-size: 20px;
    margin-left: 20px;
  }
}

.hero p {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  margin: 5px 0px 30px 0px;
  font-size: 22px;
}

.hero span {
  color: var(--owl);
  /* border-bottom: 4px solid var(--accent-color); */
}

.leftcol {
  width: 66%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

@media (max-width: 767px) {
  .leftcol {
    width: 100%;
  }

  .img-fluid {
    width: 240px;
  }

  .hero-img {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .heroflex {
    width: auto;
  }
}

/* @media(max-width: 991px){
  .img-fluid{
    width: 300px;
  }
} */
.img-fluid {
  max-width: 100%;
  height: auto;
}

.upmove {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*Hero section*/

/*3D Hero*/
.hero-waves {
  display: block;
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0px;
  /* padding-bottom: 100px; */
  right: 0;
  z-index: 3;
}

.wave1 use {
  animation: move-forever1 10s linear infinite;
  animation-delay: -2s;
  fill: var(--default-color);
  opacity: 0.6;
}

.wave2 use {
  animation: move-forever2 8s linear infinite;
  animation-delay: -2s;
  fill: var(--default-color);
  opacity: 0.4;
}

.wave3 use {
  animation: move-forever3 6s linear infinite;
  animation-delay: -2s;
  fill: var(--default-color);
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

/*3D Hero*/

/*Default Button Style*/
.blue_btn {
  margin-top: 10px;
}

.blue_btn {
  border: 2px solid var(--section-c1);
  color: var(--section-c2);
  background: none;
  font-weight: 500;
  border-radius: 0;
  letter-spacing: 0.5px;
  padding: 11px 30px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-transform: uppercase;
}

.blue_btn {
  background: var(--section-c1);
  color: var(--button-textColor);
}

.blue_btn:hover {
  border-color: var(--section-c1);
}

.blue_btn:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 100%;
  background: var(--section-c1);
  text-align: center;
  z-index: -1;
  padding: 10px 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-perspective: 5px;
  perspective: 5px;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}

.blue_btn:hover {
  background: var(--section-c1);
}

.blue_btn:hover:before {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.blue_btn:hover {
  background: var(--section-c1);
  border-color: var(--section-c2);
}

.blue_btn:before {
  background: var(--section-c2);
}

/*Default Button Style*/
/*About*/

.title_shape {
  background: linear-gradient(to left, var(--section-c2), var(--section-c1));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--section-c1);
  position: relative;
  text-transform: uppercase;
  background-clip: text;
  font-weight: 600;
  display: inline-block;
  font-family: "Dosis", sans-serif;
}

.title_animate {
  opacity: 1;
  transform: translateY(0);
}

.title_shape strong {
  font-weight: 500;
}

.title_shape:before {
  content: '';
  background: var(--section-c1);
  position: absolute;
  width: 2px;
  height: 10px;
  bottom: -5px;
  left: 50%;
  margin-left: -1px;
}

.about {
  padding-top: 100px;
  position: relative;
  z-index: 1;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 200px;
  background-color: #fff;
}

.about:after {
  content: "About Me";
  color: #f0f0f0;
  position: absolute;
  font-weight: 700;
  z-index: -1;
  opacity: 0.3;
  text-transform: uppercase;
  text-align: center;

  width: 100%;
  font-size: var(--beforeSfont);

}

@media(min-width:767px) {
  .about:after {
    bottom: -5%;
  }
}

.checkicons {
  margin: 15px 0px;
}

.checkicons li {
  padding-bottom: 10px;
  text-align: left;
  /* display: flex; */
}

.checkicons span {
  color: var(--checkicons-span);

}

.fa-check {
  font-size: 20px;
  padding-right: 10px;
  color: var(--accent-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

.scroll-top {
  visibility: hidden;
  opacity: 0;
}


@media(min-width: 461px) {
  .dashed {
    position: absolute;
    width: 210px;
    z-index: 5;
    top: 59px;
    background-color: var(--accent-color);
  }
}

@media(max-width: 461px) {
  .dashed {
    position: absolute;
    width: 210px;
    z-index: 5;
    top: 48px;
    background-color: var(--accent-color);
  }
}

@media(max-width: 375px) {
  .dashed {
    position: absolute;
    width: 210px;
    z-index: 5;
    top: 45px;
    background-color: var(--accent-color);
  }
}

@media(min-width:1200px) {
  .dashed {
    height: 10px;
  }
}

@media(max-width:1199px) {
  .dashed {
    height: 7px;
    width: 140px;
  }
}

@media(max-width:360px) {
  .dashed {
    height: 4px;
    width: 100px;
  }
}

@media(min-width:1200px) {
  .cv-skill {
    max-width: 420px;
    height: 70px;
    overflow: hidden;
    margin-left: 12px;
  }
}

@media(max-width:1199px) {
  .cv-skill {
    max-width: 480px;
    height: 5px;
    margin-left: 12px;
  }
}

@media(max-width:460px) {
  .cv-skill {
    max-width: 320px;
  }
}

@media(max-width:360px) {
  .cv-skill {
    max-width: 195px;
  }
}

/*icon*/

/* 
.fa-bars {
  color: var(--navbars-color);
  font-size: 28px;
  line-height: 0px;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.3s;
  z-index: 1;
  position: relative;
  top: 10px;
  margin: 0px;
} */


/*icon*/


/*skill_area */
.gray_bg {
  /* background: linear-gradient(45 deg, #ffffff 50%,#fcfcfc 50%); */
  background: linear-gradient(45deg, #ffffff 50%, #fcfcfc 50%);
}

.section_padding {
  border-bottom: 1px solid #f6f6f6;
  position: relative;
}

@media(min-width:1199px) {
  .section_padding {
    padding-top: 90px;
    padding-bottom: 150px;
  }
}

@media(max-width:1199px) {
  .section_padding {
    padding-top: 30px;
    padding-bottom: 120px;
  }
}

@media(max-width:740px) {
  .section_padding {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

.section_padding:after {
  content: "Skills";
  color: #f0f0f0;
  position: absolute;
  font-weight: 700;
  z-index: 1;
  opacity: 0.3;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 20%;
  font-size: var(--beforeSfont);

}

@media(min-width:991px) {
  .section_padding:after {
    bottom: 26%;
  }
}

@media(max-width:991px) {
  .section_padding:after {
    bottom: 11%;
  }
}

.my_skill_box {
  position: relative;
  width: 90%;
  margin: auto;
}

.my_skill_box h3 {
  line-height: 18px;
  font-size: 18px;
  color: #000;
}

.skill-left {
  /* animation: fadeInLeft 1s linear both; */
}

.skill-right {
  /* animation: fadeInRight 1s linear both; */
}

.proggress {
  /* animation: fadeInLeft 1s linear 2s both; */
  /* border-radius: 10px; */
  /* transition: width 0.5s ease-in-out; */
  height: 5px;
  /* opacity: 0; */
  background-color: var(--section-c1);
}

.animateProgress {
  opacity: 1;
  /* transform: translateZ(0px); */
  animation: fadeInLeft 0.8s linear both;
}

/* .proAnimation {
  animation: fadeInLeft 1s linear both;
  background-color: var(--section-c1);
} */

.progressbar {
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.percentCount {
  position: absolute;
  display: flex;
  font-weight: 600;
  font-family: "Dosis", sans-serif;
  top: -2px;
  color: #273f5b;
  font-size: 18px;
}

@media(min-width:1200px) {
  .percentCount {
    left: 440px;
  }
}

@media(max-width:1199px) {
  .percentCount {
    left: 360px;
  }
}

@media(max-width:991px) {
  .percentCount {
    left: 560px;
  }
}

@media(max-width:767px) {
  .percentCount {
    left: 480px;
  }
}

@media(max-width:767px) {
  .percentCount {
    left: 400px;
  }
}

@media(max-width:505px) {
  .percentCount {
    left: 350px;
  }
}

/* @media(max-width:487px) {
  .percentCount {
    left: 400px;
  }
} */

@media(max-width:452px) {
  .percentCount {
    left: 310px;
  }
}

@media(max-width:408px) {
  .percentCount {
    left: 290px;
  }
}

@media(max-width:386px) {
  .percentCount {
    left: 270px;
  }
}

@media(max-width:360px) {
  .percentCount {
    left: 240px;
  }
}

@media(max-width:330px) {
  .percentCount {
    left: 220px;
  }
}

@media(max-width:300px) {
  .percentCount {
    left: 215px;
  }
}

/*skill_area */
/*project*/

.my_project {
  padding-top: 100px;
  padding-bottom: 50px;
}

.project-title {
  background-color: var(--project-bgColor);
  padding: 15px;
  color: var(--project-title);
  border-top: 1px solid #eee;
  text-align: center;
}

.mob-scroll {
  display: inline-block;
  height: 400px;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.landing-demo-box {
  margin-top: 30px;
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 15px #eee;
  transition: all 0.5s;
}

.landing-demo-box:hover {
  opacity: 0.5;
}

.mob-scroll:hover .feature-mob-scroll {
  background-position: center 100%;
}

.feature-mob-scroll {
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transition: all 6s ease-out 0s;
}

/*Education*/
.my_education {
  padding: 120px 0px;
  background-color: #ebebeb;
}

.timeline-wrap {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}

.timeline-wrap:before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.1); */
  background-color: var(--timeline-wrap);
  position: absolute;
  left: 35%;
  top: 0;
}

.timeline-block {
  position: relative;
  padding-top: 1.5rem;
}

.timeline-block h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal
}

.timeline-block h3 {
  /* color: #273f5b; */
  /* color: #001d3d; */
  /* color: #0096c7; */
  color: var(--skill-title);
  /* background: linear-gradient(to left, #273f5b, #0081ff);
  -webkit-text-fill-color: transparent; */
}

.timeline-ico {
  height: 40px;
  width: 40px;
  line-height: 40px;
  /* background-color: #313131; */
  background-color: var(--icons-bgcolor);
  border-radius: 50%;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 35%;
  top: 0.9rem;
  margin-left: -1.24rem;
}

.timeline-ico i {
  position: relative;
  color: var(--icons-color);
  font-size: 17px;
}

@media(max-width: 480px) {
  .timeline-ico {
    height: 36px;
    width: 36px;
    line-height: 36px;
    left: 26px;
  }
}

.timeline-header {
  float: left;
  width: 35%;
  padding-right: 90px;
  text-align: right;
}

@media (max-width:1024px) {
  .col-twelve {
    padding: 0px 18px;
  }

  .timeline-header {
    padding-right: 50px;
  }

  .timeline-header h3 {
    font-size: 17px;
  }

  .timeline-header p {
    font-size: 13px;
  }

  .timeline-content h4,
  p {
    font-size: 16px;
  }

  .timeline-content p {
    overflow-wrap: anywhere;
  }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
  .timeline-ico {
    left: 24px;
  }
}

@media (max-width: 768px) {
  .col-twelve {
    padding: 0px 15px;
  }

  .timeline-wrap:before {
    left: 24px;
  }

  .timeline-header {
    padding-left: 70px;
    /* padding-right: 15px; */
    width: 120%;
    float: none;
    /* width: auto; */
    text-align: left;
  }

  .timeline-header h3 {
    font-size: 20px;
  }

  .timeline-header p {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .timeline-content {
    margin: 0px;
    padding-left: 70px;
  }

  .timeline-content h4 {
    padding-bottom: 0;
    padding-top: 21px;
    margin-bottom: 6px;
    font-size: 17px;
  }

  .timeline-content h4::after {
    bottom: auto;
    top: 0px;
  }
}

.timeline-header p {
  /* color: #888888; */
  color: #1b4332;
}

@media (min-width: 768px) {
  .timeline-content {
    margin-left: 35%;
    padding-left: 60px;
  }

  .timeline-content h4 {
    padding-bottom: 18px;
    margin-bottom: 18px;
  }
}

.timeline-content p {
  color: var(--timeline-contentP);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.timeline-content h4 {
  position: relative;
  /* color: #0081ff; */
  /* color: #1706db; */
  /* color: #10058c; */
  /* color: #0077b6; */
  color: rgb(0, 143, 255);
}

.timeline-content h4::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  /* background: rgba(0, 0, 0, 0.2); */
  background-color: #1acc8d;
  position: absolute;
  left: 0;
  bottom: 0;
}

.timeline-content p {
  margin-bottom: 30px;
}

/*Education*/
/*Contact */
.contact-section {
  padding: 10px 0px;
  /* background-color: #fff; */
}

.info-item i {
  color: var(--accent-color);
  background: color-mix(in srgb, var(--accent-color), transparent 92%);
  font-size: 20px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.mouse {
  color: #fff;
  background-color: var(--accent-color);
}

.info-item:hover i {
  color: #fff;
  background-color: var(--accent-color);
}

.info-item+.info-item {
  margin-top: 40px;
}

.info-item h3 {
  padding: 0px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 5px;
  color: var(--heading-color);
  font-family: var(--heading-fonts);
}

.section-title {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 60px;
  padding-top: 15px;
}

.php-email-form {
  height: 100%;
}

.php-email-form input[type=text],
.php-email-form input[type=email],
.php-email-form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--last-section);
  border-color: color-mix(in srgb, var(--last-section), transparent 80%);
}

.php-email-form input[type=text]:focus,
.php-email-form input[type=email]:focus,
.php-email-form textarea:focus {
  border-color: var(--accent-color);
}

.php-email-form input[type=text]::placeholder,
.php-email-form input[type=email]::placeholder,
.php-email-form textarea::placeholder {
  color: color-mix(in srgb, var(--last-section), transparent 70%);
}

.hov {
  color: var(--last-section)
}

/* .php-email-form button[type=submit] {
  color: var(--contrast-color);
  background: var(--accent-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px;
} */

/* .php-email-form button[type=submit]:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 25%);
} */

.form-control {
  display: block;
  width: 100%;
  border: 1px solid #dee2e6;
}

.form-control:focus~.txtspan,
.form-control:not(:focus):valid~.txtspan {
  top: -9px;
  height: 12px;
  padding: 0px 2px;
  bottom: 10px;
  left: 13px;
  font-size: 11px;
  opacity: 1;
}

.form-control:focus~.txtspan {
  color: var(--accent-color);
}

.form-control:focus {
  box-shadow: none;
}

.formbtnsubmission {
  color: #fff;
  background: var(--accent-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px;
}

.txtspan {
  position: absolute;
  pointer-events: none;
  left: 16px;
  color: grey;
  background-color: #fff;
  font-size: 12px;
  top: 12px;
  transition: 0.2s ease all;
}

@media(min-width: 767px) {
  .inputBox {
    width: 49%;
  }
}

@media(max-width: 767px) {
  .inputBox {
    width: 100%;
  }

  .inputBox:nth-child(2) {
    margin-top: 24px;
  }
}

/*Contact */

#progress {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 10px;
  bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
  z-index: 3;
}

#progress-value {
  display: block;
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  background: #fff;
  color: var(--accent-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 12px;
  font-family: "Outfit", sans-serif;
}

.fa-arrow-up-long {
  font-size: 20px;
  pointer-events: none;
}

.fa-gear {
  font-size: 20px;
  color: var(--icons-color);
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

.style_switcher {
  position: fixed;
  opacity: 0.1;
  bottom: 100px;
  width: 200px;
  background-color: #fff;
  transition: all 0.4s;
  padding: 20px;
  /* top: 50%; */
  right: -200px;
  z-index: 10;
}

.style_switcher:hover {
  opacity: 1;
}

.plate {
  right: 0px;
}

.style_switcher a {
  padding: 15px;
  position: absolute;
  right: 200px;
  bottom: 113.2px;
  background-color: var(--background-color);
  transition: all 0.4s;
}

.style_switcher h2 {
  text-transform: capitalize;
  /* color: rgba(0, 0, 0, 0.7); */
  color: var(--background-color);
  padding-bottom: 10px;
  font-size: 20px;
  border-bottom: 3px solid rgba(51, 51, 51, 0.4);
}

.style_switcher span {
  width: 40px;
  height: 30px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

.style_switcher span#color1 {
  /* background-color: rgb(237,84,9); */
  background-color: #040677;
}

.style_switcher span#color2 {
  /* background-color: rgb(237,28,36); */
  background-color: #000;
}

.style_switcher span#color3 {
  background-color: rgb(22, 160, 133);
}

.style_switcher span#color4 {
  /* background-color: rgb(255,152,0); */
  background-color: violet;
}

.style_switcher span#color5 {
  /* background-color: rgb(255,104,83); */
  background-color: #ff4d6d;
}

.style_switcher span#color6 {
  background-color: #FD7F20;
}

;
/* .plate a{
  position: absolute;
  right: 150px;
  bottom: -14px;
  } */