/* https://demo.templatemonster.com/demo/107581.html?_gl=1*wdbt1x*_gcl_au*MTI3NTE0Mzc5Ni4xNzIwNTk0MzY2*_ga*MTc2MjEyNzYwNi4xNzIwNTk0MzYy*_ga_FTPYEGT5LY*MTcyMDU5NDM2Mi4xLjEuMTcyMDU5NDM3NS40Ny4wLjA. */



/* *, ::after, ::before {
    box-sizing: border-box;
} */
html {
    scroll-behavior: instant;
}

body {
    font-family: "Poppins", sans-serif;
    padding: 0px;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #243238;
    font-size: 16px;
    line-height: 1.5;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    margin: 0px;
}

button i {
    font-size: 28px;
    color: #07294D;
}


.reset-style,
.reset-style * {
    all: revert;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.header-top {
    color: #212529;
    font-size: 16px;
    background-color: #07294D;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
}

.header-top-content p {
    color: #fff;
    margin: 0px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
}

@media only screen and (max-width: 479px) {
    .header-top-content {
        text-align: center;
    }
}

.header-top-menu ul {
    color: #ffffff;
    font-size: 16px;
    /* display: flex;  */
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-top-menu ul li:last-child {
    margin: 0px;
}

.header-top,
.header-top-menu ul li {
    display: inline-block;

}

.header-top-menu ul li {
    cursor: pointer;

}

.header-top-menu ul li i {
    color: #fff;
}

.header-top-menu ul li i:hover {
    color: #ffc600;
    transition: all 0.5s;
}

.header-top-menu li {
    margin-right: 15px;
}

.container {
    /* margin-left: 53px;
    margin-right: 53px; */
    padding: 0px 15px;
}

.row {
    /* display: flex ;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;  */
    margin: 0px -15px;
    /* align-items: center; */
    /* width: 100%; */

}


/* .header-top-menu li{
    margin-left: 15px;
} */

.pa {
    color: #212529;
    font-size: 16px;
    padding: 0px 15px;
    flex-grow: 1;

}

.b:hover {
    background-color: #07294D;
}

.spaces {
    padding-left: 15px;
    padding-right: 15px;
}

.col-12 {
    padding-left: 15px;
    padding-right: 15px;
}


@media only screen and (min-width: 1200px) {
    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
}

@media only screen and (min-width: 992px) {
    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .col-md-8 {
        flex: 0 0 66.6666667%;
        max-width: 66.6666667%;
    }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .header-top-content p {
        text-align: center;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .header-top-content p {
        font-size: 13px;
    }
}

@media only screen and (max-width: 767px) {
    .header-top-menu ul {
        margin: 10px 0px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        max-width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.header-bottom {
    padding: 25px 0px;
    /* border: 1px solid red; */
}

.btn {
    border: 0px;
    padding: 0px;
}

.col33 {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #212529;
    padding: 0px 15px;
}

.header-logo img {
    width: 255px;
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
    .header-logo img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 576px) and (min-width: 480px) {
    .header-logo img {
        min-width: 280px;
        display: block;
        margin: 0px auto;
    }
}

@media only screen and (max-width: 480px) {
    .header-logo img {
        min-width: 220px;
        display: block;
        margin: 0px auto;
    }
}

.col34 {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #212529;
    padding: 0px 15px;

}

.header-widget-main {
    float: right;
}

.header-widget {
    float: left;
    padding-right: 35px;
}

.header-icon {
    border: 1px solid #eaecf2;
}

.header-widget,
.header-icon {
    float: left;
    background-color: #f4f6f9;
    text-align: center;
    /* border: 1px solid #eaecf2; */
    color: #07294D;
    font-size: 18px;
    line-height: 45px;
}

.header-content {
    padding-left: 14px;
}

.header-widget,
.header-content {
    background-color: #ffffff;
    /* border: 1px solid blue; */
    float: left;
}

.clearfix {
    margin: 0px -15px;
}

.header-icon {
    height: 45px;
    width: 45px;
}

.header-icon i {
    height: 18px;
    width: 18px;

}

.header-widget,
.header-content h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: #131d3b;
    margin: 0px;
    font-family: "Rubik", sans-serif;
    text-align: left;
}

.header-widget,
.header-content h5 {
    font-size: 14px;
    font-weight: 400;
    color: #666;
    line-height: 23px;
    margin: 0px;
}

.header-widget-main,
.header-widget:last-child {
    padding-right: 0px;
}


.header-nav-area {
    background-color: #f4f6f9;
    padding: 18px 0px;
    position: relative;
    z-index: 9;
    width: 100%;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}



@media only screen and (max-width: 767px) and (min-width: 576px) {
    .header-nav-area {
        padding: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .itemss {
        flex-direction: row;

    }
}

.animate__bounceInLeft {
    animation-duration: 1s;
    animation-delay: 0.5s;
}

.animate__bounceInRight {
    animation-duration: 1.2s;
    animation: 0.5s;
}

div.fixed {
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    box-shadow: 0px 0px 15px #eee;
    animation: slide-down 0.7s;
}

@media only screen and (max-width: 768px) {
    div.fixed {
        padding: 8px 0px;

    }
}

div.fixed .theme-btn {
    padding: 21.5px 30px;
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
    div.fixed .header-request {
        position: static;
    }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
    div.fixed .header-responsive-menu {
        top: 50%;
        transform: translateY(-50%);
    }
}

.dropdown i {
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-left: 2px;
}

.activedrop:hover {
    color: #daab03;
}

@media only screen and (min-width: 767px) {
    .theme-dropdown {
        position: absolute;
        top: 42px;
        width: 240px;
        border-top: 5px solid #ffc600;
    }
}

@media only screen and (max-width: 767px) {
    .theme-dropdown {
        display: none;
    }
}


.theme-dropdown li {
    display: block;
}

.theme-dropdown {
    z-index: 99;
    background-color: #fff;
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(15px);
    padding: 0px;
    visibility: hidden;
}

.theme-dropdown li a {

    display: block;
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
}
.asc:hover {
    background-color: #07294D;
    color: #ffc600;

}
.asc{
    color: #07294D;
}
ul li:hover .theme-dropdown {
    display: block;
    transform: none;
    opacity: 1;
    visibility: visible;
}

/* .dropdown-menu {
    border-radius: 0;
    position: absolute;
    z-index: 1030;
    
}

.dropdown-menu.show {
    display: inline;
    transform: none;
} */








@media only screen and (max-width: 575px) {
    .header-nav-area {
        padding: 6px 6px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .header-nav-area {
        position: relative;
    }
}

@media only screen and (min-width: 768px) {
    .header-responsive-menu {
        display: none;
    }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
    .header-responsive-menu {
        transform: none;
        top: -62px;
        right: 0px;
        position: relative;
        display: inline-block;
    }
}

@media only screen and (max-width: 576px) {
    .header-responsive-menu {
        font-size: 28px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .header-responsive-menu {
        font-size: 28px;
        position: absolute;

    }
}

.col36 {
    color: #212529;
    padding: 0px 15px;
    flex-grow: 1;
}

.header-nav-menu-box {
    position: relative;
}


.header-nav-menu-area ul>li {
    float: left;
    margin-right: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #07294d;
    font-size: 16px;
}


@media only screen and (max-width: 768px) {
    .nav-item {
        display: block;
        padding: 10px 0px;
        border-bottom: 1px solid #eee;
        margin: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .header-nav-menu-area ul>li {

        margin: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .header-nav-menu-area {
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        background-color: #f4f6f9;
        z-index: 9;
        margin: 0px -21px;
        padding: 0px 22px;
        height: 65vh;
        overflow-y: auto;
    }
}


@media only screen and (max-width: 991px) {
    .header-nav-menu-area ul>li a {

        text-transform: uppercase;
        color: #07294d;
        font-size: 15px;
    }
}

.blu {
    font-weight: 600;
    text-transform: uppercase;
    color: #07294d;
    /* font-size: 16px; */
}

.bluu {
    padding: 0px 15px;
}

/* .fa-angle-down:hover {
    color: #ffc600;
} */
.header-nav-area,
.header-nav-menu-area ul>li:hover {
    color: #daab03;
}

.header-nav-menu-area ul>li a:hover {
    color: #daab03;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .header-nav-menu-area ul>li {
        margin-right: 25px;
    }
}

.tt {
    /* bottom: 6px; */
    /* height: 24px; */
    /* font-weight: 600;
    text-transform: uppercase;
    color: #07294d;
    font-size: 16px; */
}

.header-nav-menu-area ul>li>a>i {
    font-size: 18px;
    /* top: 2px; */

}

.header-request {
    position: absolute;
    top: -18px;
    right: 0px;
    /* height: 63px; */
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
    .header-request {
        position: absolute;
        top: -70px;
        right: 45px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .header-request {
        top: -92px;
        right: 0px;
    }
}

@media only screen and (max-width: 576px) {
    .header-request {
        position: static;
    }
}

.theme-btn {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    line-height: 17px;
    color: #07294d;
    display: inline-block;
    cursor: pointer;
    background-color: #ffc600;
    padding: 21.5px 30px;
}

@media only screen and (max-width: 767px) {
    .log {
        padding: 18px 30px;
    }
}


.col37 {
    color: #212529;
    padding: 0px 15px;
}

.slider-area {
    background-color: #07294d;
    position: relative;
}

.slider-area::before {
    content: "";
    background-image: url(ovarlay-slide.jpg);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-attachment: fixed;
    opacity: 0.4;
}

.slider-shape {
    position: absolute;
    bottom: -9px;
}

.slider-area-box {
    display: table;
    height: 740px;
    position: relative;
    z-index: 2;
}

.slider-box {
    animation: bounceInRight 1.2s ease 1.2s both;
}

.slider-box h1 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 8px;
    font-family: 'Rubik', sans-serif;
}

/* .slider-box-wow-bounceInLeft  {
    animation: bounceInLeft 1s ;
    visibility: visible;
    animation-delay: 0.5s;
}

.slider-box-wow-bounceInRight {
    visibility: visible;
    animation-delay: 0.5s;
    animation: bounceInRight 1s;
} */
.slider-box-left {
    animation: bounceInLeft 1s ease 0.5s both;
}

.slider-box-left,
.slider-box {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    padding-bottom: 60px;
    position: sticky;
}

@media only screen and (max-width: 767px) {
    .slider-box {
        width: 100%;
        display: block;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .slider-images>img {
        max-width: 280px;
    }
}

.slider-area-box {}


@media only screen and (max-width: 767px) {
    .slider-area-box {
        display: block;
        height: auto;
        padding: 40px 0px;
    }
}

.slider-box-left h1 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 8px;
    font-family: "Rubik", sans-serif;
    margin-top: 0px;
    font-weight: 500;
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .slider-box-left h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 479px) {
    .slider-box-left h1 {
        font-size: 28px;
    }
}

.slider-box-left p {
    color: #cccccc;
    margin-bottom: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.slider-btn a {
    padding: 17px 30px;
}

.page-paddings {
    padding: 60px 0px;

}

.our-client-slider {
    padding: 60px 0px 20px 0px;
}

.why-choose-us-area {
    padding-top: 30px;
}

.text-center {
    text-align: center;
}

.col70 {
    width: 100%;
    padding: 0px 15px;
}

.E-section-title h2 {
    font-size: 40px;
    /* margin-bottom: 8px; */
    margin-bottom: 8px;
    margin-top: 0px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .E-section-title h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .E-section-title h2 {
        font-size: 28px;
    }
}

.E-section-title p {
    max-width: 767px;
    margin: 0px auto;
    color: #444;
}

.col71 {
    padding: 0px 15px;
    width: 300px;
    flex-grow: 1;
    /* height: 30%; */
}

/* .fadesInUp {
    visibility: visible;
    animation-delay: 0.1s;
    animation: fadeInUp 3s linear;
    
} */
.one {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
    transition-delay: 0.1s;
}

.one.visible {
    opacity: 1;
    transform: translate(0px);
}

.second {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
    transition-delay: 0.2s;
}
.second.visible {
    opacity: 1;
    transform: translate(0px);
}
.third {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
    transition-delay: 0.3s;
}
.third.visible {
    opacity: 1;
    transform: translate(0px);
}
.fourth {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
    transition-delay: 0.4s;
}
.fourth.visible {
    opacity: 1;
    transform: translate(0px);
}
.fifth {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
    transition-delay: 0.5s;
}
.fifth.visible {
    opacity: 1;
    transform: translate(0px);
}
.sixth {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
    transition-delay: 0.6s;
}
.sixth.visible {
    opacity: 1;
    transform: translate(0px);
}
.seventh {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
    transition-delay: 0.5s;
}
.seventh.visible {
    opacity: 1;
    transform: translate(0px);
}
.eighth {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
    transition-delay: 0.6s;
}
.eighth.visible {
    opacity: 1;
    transform: translate(0px);
}



.why-chhouse-us-box-inner {
    padding: 30px;
    margin-top: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 15px 15px;
    box-shadow: 0px 0px 15px #eee;
}

.why-chhouse-us-icon {
    border-radius: 100%;
    display: inline-block;
    padding: 20px;
    position: relative;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 40px;
    line-height: 65px;
    margin-bottom: 25px;
}

.icon1 {
    background-color: rgba(7, 41, 77, 0.13);
    color: #07294d;
}

.icon2 {
    color: #4382ff;
    background-color: rgba(67, 133, 255, 0.13);
}

.icon3 {
    color: #f89035;
    background-color: rgba(248, 144, 53, 0.13);
}

.icon4 {
    color: #b3d369;
    background-color: rgba(179, 211, 105, 0.13);
}

.icon5 {
    color: #554da7;
    background-color: rgba(85, 77, 167, 0.13);
}

.icon6 {
    color: #f94fa4;
    background-color: rgba(249, 79, 164, 0.13);
}

.why-chhouse-us-content>.theme-description {
    color: #000;
}

.theme-title {
    margin-top: 0px;
    margin-bottom: 4px;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.theme-description {
    font-size: 15px;
    margin: 0px;
    color: #666;
}

.page-background {
    padding: 60px 0px;
    background-image: url(background.jpg);
    width: 100%;
}

.col81 {
    padding: 0px 15px;
    color: #212529;
    width: 300px;
    flex-grow: 1;
}

.content-box {
    background-color: #fff;
    margin-top: 30px;
    box-shadow: 0px 0px 15px #eee;
    border-radius: 6px;
}

.content-description {
    padding: 15px;
}

.theme-title a {
    color: #07294d;
}

.course-info {
    margin-top: 10px;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.rating-star {
    float: left;
}

.content-meta {
    float: right;
    width: auto;
}

.rating-star i {
    color: #ffc600;
    font-size: 18px;

}

.content-meta li {
    float: left;
    padding-right: 15px;
    font-size: 15px;
}

.content-meta li a {
    color: #292b2c;
}

.content-meta li a>i {
    margin-right: 8px;
}

.content-footer {
    border-top: 1px solid #eee;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 15px;
}

.teacher-carousel .owl-wrapper-outer {
    overflow: hidden;
    /* position: relative; */
    width: 100%;
}

.owl-theme .owl-controls {
    margin-top: 15px;
    text-align: center
}

.teacher-carousel .owl-pagination .owl-page {
    width: 10px;
    height: 10px;
    background: #07294d none repeat scroll 0 0;
    display: inline-block;
    margin: 0 4px;
    border-radius: 20px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    padding: 0;
    border: 0px;
}

.teacher-carousel .owl-pagination .owl-page.active {
    width: 25px;
    background: #ffc600 none repeat scroll 0 0;
}

.teacher-carousel .owl-pagination .owl-page.active:focus {
    outline: 5px;
}

.teacher-carousel .owl-theme .owl-controls .owl-page span {
    display: none;
}

.teacher-carousel .owl-theme .owl-controls {
    margin-top: 15px;
}

.owl-theme .owl-controls .owl-page span {
    display: none;
}

/* .owl-controls {
   display: block;
    
}
.owl-pagination .owl-page {
    width: 10px;
    height: 10px;
    text-align: right;
    background: #07294d none repeat scroll 0 0;
    display: inline-block;
    margin: 0 4px;
    border-radius: 20px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    padding: 0;
    border: 0px;
}

.owl-pagination .owl-page.active {
    width: 25px;
    background: #ffc600 none repeat scroll 0 0;
}

.owl-theme .owl-controls .owl-page span{
    display: none;
}

.owl-theme .owl-controls {
    margin-top: 15px;
} */
.teacher a {
    color: #666;
}

.teacher img {
    border-radius: 100%;
    max-width: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

.alert {
    margin: 0px;
    padding: 5px 15px;
    display: block;
    line-height: normal;
    font-weight: 600;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.event-box {
    box-shadow: 0px 0px 15px #eee;
    border-radius: 8px 8px;
    margin-top: 30px;
    background-color: #fff;
}

.event-image {
    position: relative;
}

.event-image img {
    border-radius: 8px 8px 0px 0px;
    vertical-align: middle;
}

.event-data {
    position: absolute;
    text-align: center;
    max-width: 75px;
    width: 100%;
    left: 10px;
    top: 10px;
}

.event-data h5 {
    margin: 0px;
    font-size: 12px;
    padding: 12px 15px;
    background-color: #ffc600;
    color: #000;
}

.event-data h5 span {
    display: block;
    font-size: 22px;
    font-weight: 600;
}

.event-content {
    padding: 15px;
}

.event-list {
    margin: 15px -15px -15px;
    padding: 0px 15px 0px;
    border-top: 1px solid #eee;
    /* border: 3px solid green;  */
    position: relative;
}

.event-list li {
    border-right: 1px solid #eee;
    width: 48%;
    text-align: center;
    padding: 15px 0px;
    /* border: 3px solid blue; */
    /* display: inline-block; */
    /* position: absolute; */
    float: left;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.event-list li>a {
    font-size: 15px;
    font-weight: 500;
    color: #07294d;
}

.event-list li>i {
    margin-right: 4px;
}

/* .event-list li:first-child {
    position: absolute;
    align-items: start;
} */
.event-list li:last-child {
    border-right: 0px;
    /* float: right; */

}


.review-area {
    background-image: url(review-bg.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 30px 0px 60px;

}

.review-box {
    margin-top: 30px;
}

.review-icon {
    margin-bottom: 15px;
}

.review-content {
    font-family: 'Rubik', sans-serif;
}

.review-content h3 {
    font-size: 30px;
    color: #fff;
    margin: 0px;
}

.review-content p {
    font-size: 14px;
    color: #fff;
    margin: 0px;
}

.col90 {
    padding: 0px 15px;
    width: 20%;
    flex-grow: 1;
}




.filters ul {
    text-align: center;
    margin: 30px 0px 0px;
}

.filters ul>li.active {
    background-color: #ffc600;
}

.filters ul>li {
    background-color: #eee;
    padding: 5px 25px;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 4px;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 10px;
    font-weight: 600;
    cursor: pointer;
}

.grid {
    position: relative;
}

.content {
    margin: 0px -15px;
}

.single-content {
    width: 33.33333%;
    float: left;
    margin-top: 30px;
    padding: 0px 15px;
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
    .single-content {
        width: 50%;
    }
}

@media only screen and (max-width: 479px) {
    .single-content {
        width: 100%;
        float: none;
    }
}

.single-content img {
    border-radius: 15px;
}

.single-content {
    position: relative;
    transition: all 0.5s;
    /* overflow: hidden; */
}

.single-content-box {
    cursor: pointer;
    width: 100%;
}

.single-content-box::before {
    content: "";
    background-color: #07294d;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 15px;
    right: 15px;
    border-radius: 15px;
    opacity: 0;
    transition: all 0.5s;
}

/* @media only screen and (max-width: 1199px) {
    .single-content-box::before {
        width: 90.5%;
    }
}

@media only screen and (max-width: 991px) {
    .single-content-box::before {
        width: 87.5%;
    }
}

@media only screen and (max-width: 767px) {
    .single-content-box::before {
        width: 92.2%;
    }
}

@media only screen and (max-width: 576px) {
    .single-content-box::before {
        width: ;
    }
} */
.single-content-box:hover::before {
    opacity: 0.9;
}

.single-description {
    position: absolute;
    top: 15px;
    transform: translateY(-50%);
    left: 0px;
    right: 5px;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}

.single-content-box:hover .single-description {
    top: 50%;
    opacity: 1;
}

.mySwiper>.swiper-pagination-bullets {
    /* margin-top: 40px; */
    top: 26px;
    position: relative;
}
.mySwiper>.swiper-pagination-bullets>.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background-color: #07294d;
    opacity: 1;
    display: inline-block;
    margin: 0 4px;
    border-radius: 20px;
    transition: all 0.4s ease 0s;
    padding: 0;
    border: 0px;
}
.mySwiper>.swiper-pagination-bullets>.swiper-pagination-bullet-active{
    width: 25px;
    background: #ffc600;
}
.gallery-ico {
    height: 60px;
    width: 60px;
    background-color: #ffc600;
    margin: 0px auto 8px;
    color: #000;
    line-height: 62px;
    border-radius: 100%;
    font-size: 24px;
}

.gallery-ico>a {
    color: #000;
}

.pricing-box-top {
    margin-top: 60px;
}

.two {
    margin-top: 30px;
}

.pricing-box {
    box-shadow: 0px 0px 15px #eee;
    border-radius: 6px;
}

.pricing-header {
    padding: 15px;
    border-radius: 6px 6px 0px 0px;
}

.pricing-header h2 {
    font-size: 22px;
    color: #fff;
    margin: 0px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

.ph1 {
    background-color: #4382ff;
}

.pt1 {
    color: #4382ff;
}

.ph2 {
    background-color: #554da7;
}

.pt2 {
    color: #554da7;
}

.ph3 {
    background-color: #f94fa4;
}

.pt3 {
    color: #f94fa4;
}

.pricing-content h3 {
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    margin: 0px;
    padding: 30px 15px 30px;
    background-color: #eee;
}

.pricing-content ul {
    margin: 0px;
}

.pricing-content li {
    font-size: 16px;
    border-bottom: 1px solid #eee;
    padding: 12px 15px;
}

.pricing-button {
    padding: 15px;
}

.button {
    color: #fff;
    border: none;
    padding: 17px 30px;
}

.owl-carousel .owl-stage-outer {
    /* override */
    overflow: initial;
}

.teacher-slider {
    overflow: hidden;
}

.theme-slider {
    overflow: hidden;
}



.our-teacher-area .teacher-box img {
    display: block;
    margin: 0px auto;
}

.col78 {
    padding: 0px 15px;
    flex-grow: 1;
}

.teacher-carousel .owl-item {
    /* height: 380px; */
    text-align: center;
}

.owl-item {
    float: left;
    /* height: 380px; */
    /* margin-right: 20px;
    position: relative; */
}

.owl-nav button {
    display: none;
}

.owl-dots {
    margin-top: 15px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    background: #07294d none repeat scroll 0 0;
    display: inline-block;
    margin: 0 4px;
    border-radius: 20px;
    transition: all 0.4s ease 0s;
    padding: 0;
    border: 0px;
}

.owl-dots .owl-dot.active {
    width: 25px;
    background: #ffc600 none repeat scroll 0 0;
}

/* .owl-wrapper div {
    margin-right: 20px;
}   */
/* .owl-item div{
    width: 95.777%;
} */
/* @media only screen and (min-width: 1200px) {
    .owl-item {
        width: 262.5px;

    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .owl-item {
        width: 217.5px;
        height: 322px;

    }
}

@media only screen and (max-width: 991px) {
    .owl-item {
        width: 216.667px;
        height: 321.167px;

    }
}

@media only screen and (max-width: 991px) {
    .owl-item:nth-child(3) {
        margin: 0;

    }
} */

/* .owl-stage {
    width: 4520px;
} */
/* .owl-item:last-child {
    margin-right: 0px;
} */

.teacher-box {
    margin-top: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 15px #eee;
    padding: 6px 6px 0px 6px;
    /* max-width: 240px; */
    /* width: fit-content; */

}

@media only screen and (min-width: 600px) {
    .teacher-box {
        width: fit-content;
    }
}



.teacher-box img {
    display: block;
    margin: 0px auto;
}

.teacher-image {
    position: relative;
    /* height: 250.5px;
    width: 250.5px; */
    cursor: pointer;
}


.teacher-image::before {
    content: "";
    background-color: #07294d;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    opacity: 0;
    transition: all 0.5s;
}

.teacher-image:hover::before {
    opacity: 0.9;
}

/* .single-description {
    position: absolute;
    top: 15px;
    transform: translateY(-50%);
    left: 0px;
    right: 0px;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}  */
.teacher-image:hover .theme-social-icon {
    top: 50%;
    opacity: 1;
}

.theme-social-icon {
    position: absolute;
    width: 100%;
    top: 0px;
    transform: translateY(-50%);
    left: 0px;
    right: 0px;
    opacity: 0;
    transition: all 0.5s;
}

.theme-social-icon:hover {
    opacity: 1;
}

.theme-social-icon ul {
    margin: 0px;
    text-align: center;

}

.theme-social-icon ul>li {
    color: #fff;
    text-align: center;
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 15px;
    border-radius: 2px;
    display: inline-block;
    margin-right: 5px;
}

.theme-social-icon ul>li:last-child {
    margin-right: 0px;
}

.iyoutube {
    background-color: #ff0000;
}

.ifacebook {
    background-color: #3b5998;
}

.itwitter {
    background-color: #00acee;
}

.ilinkedin {
    background-color: #0e76a8;
}

/* .footer-social-icon > ul > li > a > i {
    height: 54px;
    width: 54px;
    line-height: 54px;
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
} */

/* .teacher-image::before {
    content: "";
    background-color: #07294d;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    opacity: 0;
    transition: all 0.5s;
} */

.teacher-content {
    text-align: center;
    padding: 15px;
}



.ow-item {
    float: left;
}

/* .footer-box {
    width: 20%;
} */
.col141,
.col142,
.col143,
.col144 {
    padding: 0px 15px;
    flex-grow: 1;
}

.col141 {
    max-width: 255px;
}

.col142 {
    max-width: 349.99px;
    ;
}

.col143 {
    max-width: 160px;
}

.col144 {
    max-width: 255px;
}

.col130 {
    padding: 0px 15px;
    flex-grow: 1;


}

.ow-item {
    margin-right: 20px;
}

.footer-main {
    background-color: #07294d;
    position: relative;
}

.footer-shape {
    position: absolute;
    top: -2px;
}

@media only screen and (max-width: 479px) {
    .footer-shape {
        top: -5px;
    }
}

.footer-top {
    padding: 130px 0px 60px;
}

@media only screen and (max-width: 767px) {
    .footer-top {
        padding: 30px 0px 45px;
    }
}

.footer-main::before {
    content: "";
    background-image: url(ovarlay-slide.jpg);
    height: 100%;
    width: 100%;
    position: absolute;
    background-attachment: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-position: center bottom;
    opacity: 0.4;
}

.footer-title {
    font-size: 22px;
    position: relative;
    color: #ffc600;
}

.ftitle {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 40px;
    font-family: 'Rubik', sans-serif;
}

.footer-title::before {
    content: "";
    background-color: #f7b721;
    height: 3px;
    width: 60px;
    position: absolute;
    bottom: 31px;
    left: 0px;
}

/* .footer-content ul{
    width: 139px;
} */
.footer-content img {
    max-width: 110px;
}

.footer-content ul li {
    padding-left: 30px;
}

.footer-content i {
    color: #ffc600;
    position: absolute;
    top: 4px;
    left: 0px;

}

.footer-content a {
    color: #fff;
}

.footer-content ul li {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    padding-bottom: 12px;
    position: relative;
}

.footer-feature ul {
    float: left;
    padding: 0px 15px;
    width: 50%;
}


.footer-feature ul li {
    padding-left: 22px;

}


.download-app ul li {
    display: inline-block;
    padding: 0px 10px 0px 0px;
}

.footer-social {
    margin-top: 25px;
}

/* .footer-social > li {
    margin: 0px -15px;
} */
.footer-social>ul {
    margin: 0px -15px;
}

.footer-social>ul>li {
    float: left;
    padding: 0px 15px;
    width: 25%;

}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .footer-social ul>li {
        width: 50%;
    }
}

@media only screen and (max-width: 767px) {
    .footer-social ul>li {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 479px) {
    .footer-social ul>li {
        width: 100%;
    }
}

.facebook {
    background-color: #4b6fba;
}

.footer-social>ul>li>a {
    display: block;
    padding: 15px 15px 15px 70px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}

.facebook>i {
    background-color: #3b5998;
}

.footer-social>ul>li>a>i {
    height: 54px;
    width: 54px;
    line-height: 54px;
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}

.twitter {
    background-color: #0087ba;
}

.twitter>i {
    background-color: #00acee;
}

.linkedin {
    background-color: #1c8fc7;
}

.linkedin>i {
    background-color: #0e76a8;
}

.youtube {
    background-color: #ba0d0d;
}

.youtube>i {
    background-color: #ff0000;
}

.footer-copyright {
    position: relative;
}

.footer-copyright p {
    color: #fff;
}

.footer-copyright p>a {
    color: #ffc600;
}

.footer-bottom {
    background-color: #032243;
    padding: 15px 0px;
}

.footer-bottom p {
    margin: 0px;
}

/* keyframe */
@keyframes slide-down {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    0% {
        opacity: 0;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);

    }

    100% {
        opacity: 0.9;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

/* keyframe */

/*animation*/
/* 
@keyframes bounceInLeft {
    0%,100%,60%,75%,90% {
        transition-timing-function: cubic-bezier(0.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        display: none;
        transform: translate3d(-3000px,0,0)
    }

    60% {
        opacity: 1;
        transform: translate3d(25px,0,0)
    }

    75% {
        transform: translate3d(-10px,0,0)
    }

    90% {
        transform: translate3d(5px,0,0)
    }

    100% {
        transform: none
    }
}

.bounceInLeft {
    animation-name: bounceInLeft;
    animation-fill-mode: forwards;
}

@keyframes bounceInRight {

    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: scale3d(1,1,1);
    }

    0%,100%,60%,75%,90% {
        -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
        transition-timing-function: cubic-bezier(0.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px,0,0);
        -ms-transform: translate3d(3000px,0,0);
        transform: translate3d(3000px,0,0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px,0,0);
        -ms-transform: translate3d(-25px,0,0);
        transform: translate3d(-25px,0,0)
    }

    75% {
        -webkit-transform: translate3d(10px,0,0);
        -ms-transform: translate3d(10px,0,0);
        transform: translate3d(10px,0,0)
    }

    90% {
        -webkit-transform: translate3d(-5px,0,0);
        -ms-transform: translate3d(-5px,0,0);
        transform: translate3d(-5px,0,0)
    }

    100% {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.bounceInRight {
    
    animation-name: bounceInRight;
    animation-fill-mode: forwards;
}



@keyframes fadeInUp {

    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

    0% {
        opacity: 0;
        scale: (1);
        -webkit-transform: translate3d(0,100%,0);
        -ms-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}



/*animation*/